


<button class="btn btn-outline-secondary btn-sm" @onclick="this.HomeClicked" title="home"><i class="fa fa-home" aria-hidden="true"></i></button>
<button class="btn btn-outline-secondary btn-sm" @onclick="this.RefreshClicked" title="refresh"><i class="fa fa-refresh" aria-hidden="true"></i></button>
<button class="btn btn-outline-secondary btn-sm" @onclick="this.UndoClicked" title="undo"><i class="fa fa-undo" aria-hidden="true"></i></button>
<button class="btn btn-outline-secondary btn-sm" @onclick="this.RedoClicked" title="redo"><i class="fa fa-repeat" aria-hidden="true"></i></button>
<button class="btn btn-outline-secondary btn-sm" @onclick="this.CopyClicked" title="copy"><i class="fa fa-copy" aria-hidden="true"></i></button>
<button class="btn btn-outline-secondary btn-sm" @onclick="this.PasteClicked" title="paste"><i class="fa fa-paste" aria-hidden="true"></i></button>
<button class="btn btn-outline-secondary btn-sm" @onclick="this.CutClicked" title="cut"><i class="fa fa-cut" aria-hidden="true"></i></button>
<button class="btn btn-outline-secondary btn-sm" @onclick="this.DeleteClicked" title="delete"><i class="fa fa-ban" aria-hidden="true"></i></button>

@code {
    private async void HomeClicked()
    {
        await Task.CompletedTask;
    }

    private async void RefreshClicked()
    {
        await Task.CompletedTask;
    }

    private async void UndoClicked()
    {
        await Task.CompletedTask;
    }

    private async void RedoClicked()
    {
        await Task.CompletedTask;
    }

    private async void CutClicked()
    {
        await Task.CompletedTask;
    }

    private async void PasteClicked()
    {
        await Task.CompletedTask;
    }

    private async void CopyClicked()
    {
        await Task.CompletedTask;
    }

    private async void DeleteClicked()
    {
        await Task.CompletedTask;
    }
}
