<div class="addElement @Class">
    @foreach (var group in groups)
    {
        var elems = this.elements.Where(e => e.Group == group);
        if (elems.Any())
        {
            <div class="elementGroup">
                @if (group != null)
                {
                    <div class="title">@group.Title</div>
                }
                @foreach (var element in elems)
                {
                    <button class="btn btn-outline-secondary btn-sm" @onclick="(async () => await this.ClickElement(element.Title))">@element.Title</button>
                }
            </div>
        }
    }
</div>