@page "/"

<h1>Blazor xml editor</h1>

<p>
    A tag-view-style xml editor for dotnet blazor webassembly
</p>
<p>
    Project is developed and maintained by <a href="https://blog.springwald.de">Daniel Springwald</a>
</p>

<ul>
    <li>
        <a href="/StandardLayoutDemo">show demo</a>
    </li>
    <li>
        <a href="https://github.com/Springwald/BlazorXmlEditor">visit github project website</a>
    </li>
</ul>

@code {
}
