@page "/IndvidualLayoutDemo"
@using de.springwald.xml.blazor.Components
@using de.springwald.xml.blazor
@using de.springwald.xml.blazor.demo.DemoData
@using de.springwald.xml.editor

<h3>indivdual layout - interactive demo</h3>

<div class="row">
    <div class="col-6">
        <de.springwald.xml.blazor.Components.XmlEditor EditorContext="this.editorContext" OnReady="this.EditorIsReady" />
    </div>
    <div class="col-6">
        <ActionsToolbar EditorContext="this.editorContext"></ActionsToolbar>
        <hr />
        <h5>insert element</h5>
        <AddElement EditorContext="this.editorContext" />
        <hr />
        <h5>edit attributes</h5>
        <EditAttributes EditorContext="this.editorContext" />
    </div>
</div>

@code {

    private string documentContent =    "<category>" +
                                            "<pattern>Lorem ipsum dolor sit amet, consetetur sadipscing elitr Lorem ipsum dolor sit amet, consetetur</pattern>" +
                                            "<template>Lorem<script>lorem</script> ipsum <star/> ipsum Dolor sit amet</template>" +
                                        "</category>";
    private EditorContext editorContext;
    private System.Xml.XmlDocument xmlDocument;

    protected override async Task OnInitializedAsync()
    {
        var demoDtd = DemoDtd.LoadDemoDtd();
        this.editorContext = new EditorContext(BlazorEditorConfig.StandardConfig, new DemoXmlRules(demoDtd));
        this.xmlDocument = new System.Xml.XmlDocument();
        this.xmlDocument.LoadXml(this.documentContent);
        await base.OnInitializedAsync();
    }

    private async Task EditorIsReady()
    {
        await this.editorContext.EditorState.SetRootNode(xmlDocument.DocumentElement);
        await this.editorContext.EditorState.CursorRaw.SetBothPositionsAndFireChangedEventIfChanged(xmlDocument.DocumentElement.ChildNodes[1].ChildNodes[1].FirstChild, rules.XmlCursorPos.XmlCursorPositions.CursorInsideTextNode, 2);
    }
}
