.xmlEditorBox {
    border: 1px solid lightgrey;
}

    .xmlEditorBox .canvasOuter,
    .xmlEditorBox .canvasOuter:active,
    .xmlEditorBox .canvasOuter:focus,
    .xmlEditorBox .canvasOuter canvas,
    .xmlEditorBox .canvasOuter canvas:active,
    .xmlEditorBox .canvasOuter canvas:focus {
        outline: none !important;
        border: none !important;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    }

.xmlEditorContextMenu {

}