<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Xml Editor Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <span class="nav-link nav-subtitle">
                <span class="oi oi-person" aria-hidden="true"></span> Demos
            </span>
        </li>

        <li class="nav-item px-4">
            <NavLink class="nav-link" href="StandardLayoutDemo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Standard layout
            </NavLink>
        </li>

        <li class="nav-item px-4">
            <NavLink class="nav-link" href="IndvidualLayoutDemo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Individual layout
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <span class="nav-link nav-subtitle">
                <span class="oi oi-cog" aria-hidden="true"></span> Automatic demos
            </span>
        </li>

        <li class="nav-item px-4">
            <NavLink class="nav-link" href="LoadXmlDemo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Load XML Demo
            </NavLink>
        </li>

        <li class="nav-item px-4">
            <NavLink class="nav-link" href="SelectDemo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Select Demo 1
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="Select2Demo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Select Demo 2
            </NavLink>
        </li>

        <li class="nav-item px-4">
            <NavLink class="nav-link" href="TypingDemo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Typing Demo
            </NavLink>
        </li>

        <li class="nav-item px-4">
            <NavLink class="nav-link" href="InsertElementDemo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Insert element Demo
            </NavLink>
        </li>
        

        <li class="nav-item px-4">
            <NavLink class="nav-link" href="MoveCursorDemo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Move Cursor Demo
            </NavLink>
        </li>
    </ul>

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
