

.xmlEditorBox {
    border: 1px solid lightgrey;
}

.canvasOuter, .canvasOuter:active, .canvasOuter:focus,
.canvasOuter canvas, .canvasOuter canvas:active, .canvasOuter canvas:focus {
    outline: none !important;
    border: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}


/* attribute editor */
.addAttributes {
}

    .addAttributes .elementGroup {
        padding: 0.4em;
        margin-bottom: 0.4em;
        border-radius: 0.2em;
        border-width: 1px;
        border-color: lightgrey;
        border-style: solid;
        background: #FDFDFD;
    }

        .addAttributes .elementGroup .title {
            font-style: italic;
            /*  font-weight: bold;*/
        }

        .addAttributes .elementGroup button {
            font-size: 0.8em;
        }
