


/* attribute editor */
.addAttributes {
}

    .addAttributes .elementGroup {
        padding: 0.4em;
        margin-bottom: 0.4em;
        border-radius: 0.2em;
        border-width: 1px;
        border-color: lightgrey;
        border-style: solid;
        background: #FDFDFD;
    }

        .addAttributes .elementGroup .title {
            font-style: italic;
            /*  font-weight: bold;*/
        }

        .addAttributes .elementGroup button {
            font-size: 0.8em;
        }
