@page "/Indent2Demo"
@using de.springwald.xml.editor
@using de.springwald.xml.blazor.demo.DemoData


<h1>indent 2 demo</h1>
<de.springwald.xml.blazor.Components.XmlEditor EditorContext="this.editorContext" OnReady="this.EditorIsReady" Style="max-height: 500px; height: 500px; width: 500px; min-width: 500px" />

@code {

    private string documentContent = "<category><pattern>A Lorem ipsum dolor sit amet, <person2><person2><person2><person2><person2><person2><person2><person2><person2><person2><person2></person2></person2></person2></person2></person2></person2></person2></person2></person2></person2></person2> consetetur sadipscing elitr</pattern><template>Lorem ipsum Dolor sit amet</template></category>";

    private EditorContext editorContext;
    private System.Xml.XmlDocument xmlDocument;

    protected override async Task OnInitializedAsync()
    {
        var demoDtd = DemoDtd.LoadDemoDtd();
        this.editorContext = new EditorContext(BlazorEditorConfig.StandardConfig, new DemoXmlRules(demoDtd));
        this.xmlDocument = new System.Xml.XmlDocument();
        this.xmlDocument.LoadXml(this.documentContent);
        await base.OnInitializedAsync();
    }

    private async Task EditorIsReady()
    {
        await this.editorContext.EditorState.SetRootNode(xmlDocument.DocumentElement);
    }

}
