@page "/MoveCursorDemo"
@using de.springwald.xml.blazor
@using de.springwald.xml.editor
@using de.springwald.xml.blazor.test.DemoData
@using System.Timers
@using de.springwald.xml.blazor.test.Components
@implements IDisposable

<h1>move cursor demo</h1>
<FpsCounter @ref="fpsCounter" />
<p>@this.cursorPos</p>
<de.springwald.xml.blazor.Components.XmlEditor EditorContext="this.editorContext" OnReady="this.OnEditorReady" />

@code {

    private string documentContent = "<category><pattern>Lorem ipsum dolor sit amet, consetetur sadipscing elitr Lorem ipsum dolor sit amet, consetetur</pattern><template>Lorem ipsum Dolor sit amet</template></category>";

    private FpsCounter fpsCounter;
    private EditorContext editorContext;
    private System.Xml.XmlDocument xmlDocument;
    private Timer moveTimer;
    private string cursorPos;
    private int step = 0;
    private bool forward = true;

    protected override async Task OnInitializedAsync()
    {
        var demoDtd = DemoDtd.LoadDemoDtd();
        this.editorContext = new EditorContext(BlazorEditorConfig.StandardConfig, new DemoXmlRules(demoDtd));
        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        this.moveTimer.Stop();
        this.moveTimer.Elapsed -= MoveTimerEvent;
    }

    private void OnEditorReady()
    {
        this.moveTimer = new Timer();
        this.moveTimer.Elapsed += MoveTimerEvent;
        this.moveTimer.Interval = 1;
        this.moveTimer.Start();
    }

    private async void MoveTimerEvent(Object source, System.Timers.ElapsedEventArgs e)
    {
        this.moveTimer.Stop();

        if (this.xmlDocument == null)
        {
            this.xmlDocument = new System.Xml.XmlDocument();
            xmlDocument.LoadXml(this.documentContent);
            await this.editorContext.EditorState.SetRootNode(xmlDocument.DocumentElement);
            await this.editorContext.EditorState.CursorRaw.SetBothPositionsAndFireChangedEventIfChanged(
               xmlDocument.DocumentElement,
               rules.XmlCursorPos.XmlCursorPositions.CursorInFrontOfNode,
               0);
        }

        var cursorStatus = this.editorContext.EditorState.CursorRaw;

        if (forward)
        {
            step++;
            if (step > 150)
            {
                this.forward = false;
            }

            var dummy = cursorStatus.StartPos.Clone();
            await this.editorContext.Actions.MoveRight(dummy);
            await cursorStatus.SetBothPositionsAndFireChangedEventIfChanged(dummy.ActualNode, dummy.PosOnNode, dummy.PosInTextNode);
        }
        else
        {
            step--;
            if (step == 0)
            {
                this.forward = true;
            }
            var dummy = cursorStatus.StartPos.Clone();
            await this.editorContext.Actions.MoveLeft(dummy);
            await cursorStatus.SetBothPositionsAndFireChangedEventIfChanged(dummy.ActualNode, dummy.PosOnNode, dummy.PosInTextNode);
        }

        this.cursorPos = $"{cursorStatus.StartPos.ActualNode.Name}:{cursorStatus.StartPos.PosOnNode}:{cursorStatus.StartPos.PosInTextNode}";
        StateHasChanged();

        this.fpsCounter.Count();
        this.moveTimer.Start();
    }
}
