@page "/SelectDemo"
@using de.springwald.xml.blazor
@using de.springwald.xml.blazor.test.DemoData
@using de.springwald.xml.editor
@using System.Timers
@using de.springwald.xml.blazor.test.Components
@implements IDisposable

<h1>select demo</h1>
<FpsCounter @ref="fpsCounter" />

<de.springwald.xml.blazor.Components.XmlEditor EditorContext="this.editorContext" OnReady="this.EditorIsReady" />

@code {
    private string documentContent = "<category><pattern>Demo text</pattern><template>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</template></category>";

    private FpsCounter fpsCounter;
    private EditorContext editorContext;
    private System.Xml.XmlDocument xmlDocument;
    private Timer selectTimer;
    public bool flipFlop;

    protected override async Task OnInitializedAsync()
    {
        var demoDtd = DemoDtd.LoadDemoDtd();
        this.editorContext = new EditorContext(BlazorEditorConfig.StandardConfig, new DemoXmlRules(demoDtd));
        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        this.selectTimer.Stop();
        this.selectTimer.Elapsed -= LoadDocumentTimedEvent;
    }

    private void EditorIsReady()
    {
        this.selectTimer = new Timer();
        this.selectTimer.Elapsed += LoadDocumentTimedEvent;
        this.selectTimer.Interval = 10;
        this.selectTimer.Start();
    }

    private async void LoadDocumentTimedEvent(Object source, System.Timers.ElapsedEventArgs e)
    {
        this.selectTimer.Stop();

        if (this.xmlDocument == null)
        {
            this.xmlDocument = new System.Xml.XmlDocument();
            xmlDocument.LoadXml(this.documentContent);
            await this.editorContext.EditorState.SetRootNode(xmlDocument.DocumentElement);
        }

        var patternNode = xmlDocument.DocumentElement.ChildNodes[0];
        var templateNode = xmlDocument.DocumentElement.ChildNodes[1];
        var textNode = patternNode.ChildNodes[0];

        flipFlop = !flipFlop;
        if (flipFlop)
        {
            await this.editorContext.EditorState.CursorRaw.SetBothPositionsAndFireChangedEventIfChanged(
                            patternNode,
                            rules.XmlCursorPos.XmlCursorPositions.CursorOnNodeStartTag);
        }
        else
        {
            await this.editorContext.EditorState.CursorRaw.SetBothPositionsAndFireChangedEventIfChanged(
                            templateNode,
                            rules.XmlCursorPos.XmlCursorPositions.CursorOnNodeStartTag);
        }
        this.fpsCounter.Count();
        this.selectTimer.Start();
    }
}
