@page "/"

<h1>Blazor xml editor</h1>

<p>
    A tag-view-style xml editor for dotnet blazor webassembly
</p>

<ul>
    <li>
        <NavLink href="StandardLayoutDemo" Match="NavLinkMatch.All">
            show demo
        </NavLink>
    </li>
    <li>
        <a href="https://github.com/Springwald/BlazorXmlEditor">visit github project website</a>
    </li>
</ul>

<p>
    This project is developed and maintained by <a href="https://blog.springwald.de">Daniel Springwald</a>
</p>


@code {
}
